.Worm {
  position: relative;
  text-align: left;

  &-row {
    display: table;
    width: 100%;
    border-spacing: 0.7em;
  }

  &-col {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }

  &-score {
    margin: 0 auto;
    border-radius: 50%;

    &:before,
    &:after {
      position: absolute;
      text-align: center;
    }

    &:before {
      content: attr(data-label);
      right: 0;
      left: 0;
      margin-top: 0.5em;
    }

    &:after {
      $size: 100px;
      content: attr(data-score);
      left: 50%;
      top: 50%;
      height: $size;
      width: $size;
      line-height: $size;
      margin-top: -$size/2;
      margin-left: -$size/2;
    }
  }

  &-shape {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
